<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>usuaris</key>
	<array>
		<string>usuari1</string>
		<string>usuari2</string>
		<string>usuari3</string>
	</array>
	<key>Dinars</key>
	<array>
		<dict>
			<key>data</key>
			<date>2013-02-21T11:38:52Z</date>
			<key>preuTot</key>
			<integer>0</integer>
			<key>preuPerCap</key>
			<integer>0</integer>
			<key>menu</key>
			<string></string>
			<key>imatge</key>
			<string></string>
			<key>comensals</key>
			<array>
				<dict>
					<key>nomComensal</key>
					<string></string>
					<key>pagat</key>
					<false/>
					<key>pagatParcial</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>data</key>
			<date>2013-02-21T11:38:52Z</date>
			<key>preuTot</key>
			<integer>0</integer>
			<key>preuCap</key>
			<integer>0</integer>
			<key>menu</key>
			<string></string>
			<key>imatge</key>
			<string></string>
			<key>comensals</key>
			<array>
				<dict>
					<key>nomComensal</key>
					<string></string>
					<key>pagat</key>
					<false/>
					<key>pagatParcial</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>data</key>
			<date>2013-02-21T11:38:52Z</date>
			<key>preuTot</key>
			<integer>0</integer>
			<key>preuCap</key>
			<integer>0</integer>
			<key>menu</key>
			<string></string>
			<key>imatge</key>
			<string></string>
			<key>comensals</key>
			<array>
				<dict>
					<key>nomComensal</key>
					<string></string>
					<key>pagat</key>
					<false/>
					<key>pagatParcial</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
